.containerHal6 {
    backdrop-filter: blur(100px);
}

.imgContainerHal6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.imgHal6 {
    grid-area: 1 / 1 / 2 / 2;
}


@keyframes move {
    0%,
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
    33% {
      transform: translate(2.5rem, -2.5rem) rotate(120deg);
    }
    66% {
      transform: translate(-2.5rem, 2.5rem) rotate(240deg);
    }
  }

.containerBlob {
    
}

.blob {
    animation: move 8s ease-in-out infinite;
}

.blob1 {
    animation-delay: 0s;
}

.blob2 {
    animation-delay: -2s;
}
.blob3 {
    animation-delay: -4s;
}

.containerFilterImg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.filterImg {
    grid-area: 1 / 1 / 2 / 2;
}

.containerFilterImg section {
    grid-area: 1 / 1 / 2 / 2;
}