.bgHal6 {
    /* background: linear-gradient(#ffffff 30%, #9b9b9b 50%, #000000 20%); */
    background-color: black;
}

.containerHal6 {
    backdrop-filter: blur(100px);
}

.imgContainerHal6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.imgHal6 {
    grid-area: 1 / 1 / 2 / 2;
}


.containerFilterImg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.filterImg {
    grid-area: 1 / 1 / 2 / 2;
}

.containerFilterImg section {
    grid-area: 1 / 1 / 2 / 2;
}