:root {
    --width: 200px;
    --height: 375px;
    --quantity: 5;
}

.card-image {
    grid-area: 1 / 1 / 2 / 2;
}

.card-content {
    grid-area: 1 / 1 / 2 / 2;
}

.card-container {
    transition: 0.5s;
}

.card-container:hover .card {
    animation-play-state: paused !important;
    transition: 0.5s;
}

.card {
    animation-name: slideAnimation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc( (50s/ var(--quantity)) * (var(--position) - 1) );
    transition: 0.5s;
}

@keyframes slideAnimation {
    0% {
      left: 100%;
    }
    100% {
      left: calc(var(--width) * -1);
    }
  }